@mixin bp( $measure ){
  @media ( min-width: $measure ){
    @content;
  }
}
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
@mixin transparent-gradient( $direction: 'right', $start-color: #000, $start-opacity: 1, $end-color: #fff, $end-opacity: 0 ){
  /* 
    $direction = the direction the gradient proceeds from $start-color to $end-color
    ex. A gradient that starts, on the left, at #f00 and graduates to #0f0 on the right, would be: `transparent-gradient( 'right', #f00, 1, #0f0, 0 )`
  */

  $start-color-rgba: rgba( red($start-color), green($start-color), blue($start-color), $start-opacity );
  $end-color-rgba: rgba( red($end-color), green($end-color), blue($end-color), $end-opacity );
  @debug '$direction: #{$direction}';

  background: -moz-linear-gradient( #{ if( $direction == 'left', right, left ) }, $start-color-rgba 0%, $end-color-rgba 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient( #{ if( $direction == 'left', right, left ) }, $start-color-rgba 0%,$end-color-rgba 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to #{ if( $direction == 'left', left, right ) }, $start-color-rgba 0%,$end-color-rgba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
@mixin gradient-transition( $color: $universal-background-color, $position-x: 'left' ){
  content: '';
  display: block;
  width: $universal-gradient-width;
  height: auto;

  position: absolute;
  z-index: 2;

  top: 0;
  bottom: 0;

  @if ( $position-x == 'right' ) {
    right: 0;
    left: auto;
    @include transparent-gradient( 'left', $color, 1, $color, 0 );
  } @else {
    // default to left
    right: auto;
    left: 0;
    @include transparent-gradient( 'right', $color, 1, $color, 0 );
  }


}
