@import 'variables';
@import 'normalize';
@import 'mixins';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    vertical-align: top;
}

section {
    margin-bottom: 20px;
    position: relative;
    &> .inner {
        @include bp( $landscape ){
            width: $landscape;
            margin: 0 auto;
        }
        @include bp( $desktop ){
            width: $desktop;
        }
    }
    
    // The class label
    &:after {
        transition: opacity 666ms ease-in-out;
        content: "Class(es): " attr(class); 
        // content: 'Right column, bleed right';
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        background-color: rgba( #000, 0.6 );
        padding: 5px 10px;
        font-size: 12px;
        color: #fff;
        opacity: 0.2;
        border-radius: $universal-border-radius;
    }
    &:hover:after { 
        opacity: 1;
    }

    // Faking a masthead
    &:first-child {
        h1 {
            font-size: 13vh;
            line-height: 12vh;
            margin: 0;
        }
    }

    &.full-screen {
        position: relative;
        min-height: 100vh;
        &> .inner {
            figure {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    &.bleed-right {
        position: relative;
        // height: 50vh;
        background: $universal-background-color;
        &> .inner {
            .copy {
                padding: 20px;
                width: 50%;
            }
            figure {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 50%;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        &.gradient-transition {
            &> .inner figure {
                &:before {
                    @include gradient-transition( $universal-background-color, 'left' );
                }
            }
        }
    }
    &.bleed-left {
        position: relative;
        // height: 50vh;
        background: $universal-background-color;
        &> .inner {
            .copy {
                padding: 20px;
                width: 50%;
                margin-left: 50%;
            }
            figure {
                position: absolute;
                top: 0;
                right: 50%;
                bottom: 0;
                left: 0;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        &.gradient-transition {
            &> .inner figure {
                &:before {
                    @include gradient-transition( $universal-background-color, 'right' );
                }
            }
        }
    }
    &.bleed-both {

        position: relative;
        color: #fff;
        &> .inner {
            .copy {
                padding: 20px;
                width: 50%;
                margin-left: 50%;
                text-align: right;
            }
            figure {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

}

.page-container {
    section.full-screen:first-child {
        position: relative;
        .inner > h1 {
            text-align: center;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate( -50%, -50% );
            -moz-transform: translate( -50%, -50% );
            -ms-transform: translate( -50%, -50% );
            -o-transform: translate( -50%, -50% );
            transform: translate( -50%, -50% );
        }
    }
    &> aside {
        // background: rgba( #000, 0.5 );
        // padding: 20px;
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 20px;
        // color: #fff;

        label { 
            display: inline-block; 
            border-radius: $universal-border-radius;
            background-color: #f00;
            color: #fff;
            padding: 10px 18px;
            cursor: pointer;
        }

        input { 
             visibility: hidden;
             overflow: hidden;
             height: 0.1px;
             width: 0.1px;
             position: absolute;
             opacity: 0;
             z-index: -1;
        }
    }
}